# Environment
.env


# Virtual env
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# IDE
.idea/
.vscode/

# OS
.DS_Store
update_auth.py
*.session
*.session-journal
auth.txt
app/auth.txt
app/tools/auth.txt
portals_account.session
