# Environment
.env


# Virtual env
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc

# IDE
.idea/
.vscode/

# OS
.DS_Store
update_auth.py
*.session
*.session-journal
auth.txt
app/auth.txt
app/tools/auth.txt
portals_account.session
found_listings.json
portals_auth.txt
app/tools/*.txt
!app/tools/__init__.py